* {
  /* 禁止选择文本 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
}

/* 针对不同浏览器禁止右键菜单的样式 */
body::-webkit-context-menu {
  display: none;
}
